{% extends 'layouts/main.html' %}
{% block title %}Collections{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-8">
      <h1>
        Collections
      </h1>
    </div>
    <div class="col-4 text-end">
        <button id="upload_modal_toggle" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#upload_modal">
          Upload
        </button>

        <button id="refresh" type="button" class="btn btn-primary" onclick="window.reload_collections()">
          <i class="bi bi-arrow-repeat"></i>
        </button>
    </div>
  </div>

  <div class="row">
    <p>Upload the csv file and register it in the database.
      Files of the same name are extended to existing data.</p>
  </div>

  <div class="row">
    <hr style="margin-bottom: 60px;"/>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Collection Name</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id="collection-target" class="table-group-divider"><tr></tr></tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="upload_modal" tabindex="-1" aria-labelledby="upload_file" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="upload_file">Upload file to collections</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" class="form insert_by_file" enctype="multipart/form-data">
        <div class="modal-body">
            <div>
              <label for="formFile" class="form-label">file input</label>
              <input autofocus class="form-control form-control-lg" id="formFile" name="file" type="file" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="module" src="/static/js/collections.js"></script>

{% endblock %}
