.right-space {
    margin-right: 6px;
}

.predict-result {
    width: 70vw;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.fancy-box {
    margin-bottom: 25px;
}

.btn {
    margin-top: 4px;
    margin-bottom: 4px;
}